---
import HeroTerminalExperience from "./HeroTerminalExperience";
import "./HeroTerminalShell.css";
---

<div class="hero-terminal" data-node-id="1175:481" aria-label="SpaceScale execution demo">
    <HeroTerminalExperience client:load />
</div>
