---
import HeroTerminalExperience from "./HeroTerminalExperience";
import "./HeroTerminalShell.css";
---

<div class="hero-terminal" aria-label="SpaceScale execution demo">
    <HeroTerminalExperience client:load />
</div>
