---
import PerformanceRow from "./product/PerformanceRow.astro";
import ExecutionIsolationRow from "./product/ExecutionIsolationRow.astro";
import EndpointsRow from "./product/EndpointsRow.astro";
import NetworkMappingRow from "./product/NetworkMappingRow.astro";
import "./ProductSectionShell.css";
---
<section class="product-section" aria-label="SpaceScale product capabilities">
    <div class="product-section__inner">
        <div class="product-section__card" aria-label="SpaceScale product capabilities">
            <div class="product-section__row product-section__row--performance">
                <PerformanceRow />
            </div>
            <div class="product-section__row product-section__row--isolation">
                <ExecutionIsolationRow />
            </div>
            <div class="product-section__row product-section__row--endpoints">
                <EndpointsRow />
            </div>
            <div class="product-section__row product-section__row--container"></div>
            <div class="product-section__row product-section__row--network">
                <NetworkMappingRow />
            </div>
        </div>
    </div>
</section>
