---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import LandingHero from "../components/sections/hero/LandingHero.astro";
import ProductSectionShell from "../components/sections/ProductSectionShell.astro";
---

<MarketingLayout title="SpaceScale">
    <main>
        <LandingHero />
        <ProductSectionShell />
    </main>
</MarketingLayout>
