---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import LandingHero from "../components/sections/hero/LandingHero.astro";
import ProductSectionShell from "../components/sections/ProductSectionShell.astro";
import Stories from "../components/sections/Stories/Stories.astro";
import PushOnceSection from "../components/sections/PushOnceSection.astro";
---

<MarketingLayout>
    <main>
        <LandingHero />
        <ProductSectionShell />
        <Stories />
        <PushOnceSection />
    </main>
</MarketingLayout>
