---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import LandingHero from "../components/sections/LandingHero.astro";
---

<MarketingLayout title="SpaceScale">
  <main>
      <LandingHero />
  </main>
</MarketingLayout>
