---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import LandingHero from "../components/sections/hero/LandingHero.astro";
import ProductSectionShell from "../components/sections/ProductSectionShell.astro";
import DesignPartnerQuote from "../components/sections/DesignPartnerQuote/DesignPartnerQuote.astro";
---

<MarketingLayout>
    <main>
        <LandingHero />
        <ProductSectionShell />
        <DesignPartnerQuote />
    </main>
</MarketingLayout>
