---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import Header from "../components/site/Header.astro";
import Footer from "../components/site/Footer.astro";
import Hero from "../components/site/Hero.astro";
import ThinkBanner from "../components/site/ThinkBanner.astro";
import FeaturePerformance from "../components/site/FeaturePerformance.astro";
import FeatureContainer from "../components/site/FeatureContainer.astro";
import FeatureEndpoints from "../components/site/FeatureEndpoints.astro";
import FeatureNetwork from "../components/site/FeatureNetwork.astro";
import FeatureIsolation from "../components/site/FeatureIsolation.astro";
import TestimonialsSection from "../components/site/TestimonialsSection.astro";
import FeatureTelemetry from "../components/site/FeatureTelemetry.astro";
import CTA from "../components/site/CTA.astro";
import FeatureRun from "../components/site/FeatureRun.astro";
---

<MarketingLayout title="SpaceScale - Scale Your Infrastructure">
  <Header />

  <main>
    <Hero />

    <ThinkBanner />
    <FeaturePerformance />
    <FeatureContainer />
    <FeatureEndpoints />
    <FeatureNetwork />
    <FeatureIsolation />

    <TestimonialsSection />

    <FeatureRun />

    <FeatureTelemetry />
    <CTA />
  </main>

  <Footer />
</MarketingLayout>
