---
import SiteLayout from "../layouts/SiteLayout.astro";
import LandingHero from "../components/sections/hero/LandingHero.astro";
import ExecutionSurfacesSection from "../components/sections/ExecutionSurfacesSection.astro";
import ProductSectionShell from "../components/sections/ProductSectionShell.astro";
import Stories from "../components/sections/Stories/Stories.astro";
import PushOnceSection from "../components/sections/PushOnceSection.astro";
import TelemetryLogs from "../components/sections/TelemetryLogs/TelemetryLogs.astro";
import FinalCTA from "../components/sections/FinalCTA.astro";
---

<SiteLayout image="/assets/landing-og.png">
    <main>
        <LandingHero />
        <ExecutionSurfacesSection />
        <ProductSectionShell />
        <Stories />
        <PushOnceSection />
        <TelemetryLogs />
    </main>
    <FinalCTA slot="final-cta" />
</SiteLayout>
