---
import MarketingLayout from "../layouts/MarketingLayout.astro";
import Hero from "../components/site/Hero.astro";
---

<MarketingLayout title="SpaceScale - Scale Your Infrastructure">
  <main>
    <Hero />
  </main>

</MarketingLayout>
