---
import Header from "../components/site/Header.astro";
import Footer from "../components/site/Footer.astro";
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
}

const { title, description = "SpaceScale public website." } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>

    <body >
        <Header />
        <slot />
        <Footer />
    </body>
</html>
